*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header,footer{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 10px;
}
header a, footer a{
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;

}
header img,footer img{
    max-height: 30px;
}

header .menu{
    display: flex;
    gap: 20px;
}

div.title{
    text-align: center;
    padding: 25px;
}

div.title h1{
    margin-bottom: 15px;
    font-size: 25px;
}

div.title p{
    font-size: 20px;
}

.container{
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
}

.container main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    grid-area: main;

}

.card{
    width: 280px;
    height: 380px;
    transition: 0.8s;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}
.card:hover{
    border-color: #333;
}

.card img,aside img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.card p{
    font-size: 18px;
}

aside{
    padding:25px 15px;
    background-color: #555;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
}

h3.aside{
    font-weight: 300;
    margin-bottom:10px;
}

.card-aside{
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}

.card-aside:hover{
    border-color: #DDD;
}

aside img{
    width: 240px;
    height: 160px;
}

aside h3{
    margin-bottom: 20px;
    font-weight: 400;
}

@media (min-width:640px) {
    header,footer{
        flex-direction: row;
        justify-content: space-between;
    }
    aside div.aside-items{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .container main{
        justify-content: space-evenly;
    }

}

@media (min-width:1293px) {

    .container aside{
        gap: 10px;
    }
    .container{
        padding: 20px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "main  aside";
        column-gap: 25px;
        flex:1 0 auto;
    }    

}

@media (min-width:1291px) {
    .container main{
        justify-content: space-between;
    }

}
